/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #031121; /* Navy blue */
  font-family: 'Inter', sans-serif;
  color: white;
}

.homepage-background {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* Left side half circle */
.homepage-background::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: rgba(0, 133, 255, 0.2); /* lighter glow */
  clip-path: inset(0 50% 0 0);
  filter: blur(60px);
}

/* Right side half circle */
.homepage-background::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: rgba(0, 133, 255, 0.2); /* lighter glow */
  clip-path: inset(0 0 0 50%);
  filter: blur(60px);
}


/* Rainbow Text Animation */
.rainbow-text {
  background: linear-gradient(
    to right,
    #6EE7B7, /* Mint Green */
    #7C3AED, /* Purple */ 
    #EC4899, /* Pink */ 
    #F59E0B  /* Orange */
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  transition: background-position 0.5s ease-in-out;
}

.rainbow-text:hover {
  background-position: right center;
}
